body{
    background:#eee;
    font-family: Georgia;
}

.row {
    padding-top: 12px;
    padding-bottom: 12px;
}

.content {
    border-radius: 2px;
    background-color: white;
    padding-top: 12px;
    padding-bottom: 50px;
}

.content .content-header{
    padding-bottom: 10px;
    border-bottom: 1px solid orange;
}

 /* Note detail style*/
.content .content-header .content-header-nav{
    width: 80%;
}

.content .content-header .content-header-action {
    align-content: flex-end;
}

.content .content-header .content-header-action a {
    text-decoration: none;
    margin-top: 3px;
}

.content .content-header .content-header-action a:hover {
    color: white;
}

.content-body .list-group .list-group-item{
    background-color:white;
    border-color: orange;
    color: black;
}

/* Topic detail style */
.list-group .list-group-item .content-body-title a {
    margin-top: 3px;
    color: black;
    text-decoration: none;
}

.list-group .list-group-item .content-body-title a:hover {
    color: orange;
}

.list-group .list-group-item .content-body-action a{ 
    text-decoration: none;
    margin-top: 3px;
}

.list-group .list-group-item .content-body-action a:hover{
    color: white;
}

.content-body {
    padding-top: 20px;
    word-wrap: break-word;
}

.content-body img {
    max-height: auto !important;
    max-width: 100% !important;
}

.button {
    float: right;
}

