{% extends "4_books/book_list.html" %}
{% load crispy_forms_tags %}

{% block nav-brand %}
  <div class="sidebar-heading border-bottom">Books : {{ book.title }}</div>
{% endblock nav-brand %}

{% block sidebar %}
  {% if book.chapters.exists %}
    {% for chapter in book.chapters.all %}
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'chapter_detail' book_pk=book.pk chapter_pk=chapter.id %}">{{chapter.title}}</a>
    {% endfor %}
  {% endif %}
{% endblock sidebar %}

{% block item %}

<div class="row">
    <div class="col-md-9">
            <div class="col-md-12 content">
              <div class="d-flex justify-content-between content-header">
                <h1>Delete {{chapter.title}}</h1>
              </div>
              <div class="content-body">
                <form action="{% url 'delete_chapter' book_pk=book.pk chapter_pk=chapter.pk %}" method="POST">
                    {% csrf_token %}
                    <Strong> Are you sure you want to delete {{chapter.title}}</Strong>
                    <p>To delete it, type the chapter title in the blank</p>
                    {% if message %}
                        {{message}}
                    {% endif %}
                    <input class="form-control" type="text" name="title">
                    <br>
                    <button class="btn btn-warning button"type="submit">Delete</button>
                </form>
                </div>
            </div>
        </div>
  
        <div class="col-md-3">      
            <h1> graph </h1>
        </div>
 
</div>

{% endblock item %}


