{% extends "_home.html" %}
{% load static %}

{% block title %}
    <title>Creative Blog: Settings</title>
{% endblock title %}


{% block item %}
    <form method="POST" action="." enctype="multipart/form-data">
        {% csrf_token %}
            {{appupdateform}}
        <button type="submit">Update</button>
    </form>
{% endblock item %}

<!--
        <script src="https://creativeblogbucket.s3.amazonaws.com/static/js/jquery-3.6.0.js"></script>
        <script src="https://creativeblogbucket.s3.amazonaws.com/static/js/scripts.js"></script>
        <link rel="stylesheet" href="https://creativeblogbucket.s3.amazonaws.com/static/css/main/sidebar.css"> 
        <link rel="stylesheet" href="https://creativeblogbucket.s3.amazonaws.com/static/css/main/home.css"> -->