{% extends "2_notes/topic_list.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block title %}
    <title>Notes : Chris Kim's Blog</title>
{% endblock title %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/notes/notes_styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/notes/note_margin.css' %}"/>

    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"></script>
    <script src="/path/to/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
{% endblock static %}

{% block nav-brand %}
    <div class="sidebar-heading border-bottom">Notes : {{ topic.topic }}</div>
{% endblock nav-brand %}

{% block sidebar %}

  {% if topic.notes.exists %}
    {% for note in topic.notes.all %}
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'note_detail' topic_pk=topic.pk note_pk=note.uuid %}">{{note.title}}</a>
    {% endfor %}
  {% endif %}

{% endblock sidebar %}


{% block item %}

<div class="row">
    <div class="col-md-9">
            <div class="col-md-12 content">
                {% if note %}
                <div class="d-flex justify-content-between content-header">
                    <div class="content-header-nav flex-column">
                    <h3>{{ note.title }}</h3>
                    <h5>{{ note.summary }}</h5>
                    </div>
                    <div class="nav flex-column content-header-action">
                        <a href="{% url 'update_note' topic_pk=topic.pk note_pk=note.uuid %}" class="btn btn-success"> Update</a>
                        <a href="{% url 'delete_note' topic_pk=topic.pk note_pk=note.pk %}" class="btn btn-success"> Delete </a>
                        <a href="{% url 'create_note' topic.pk %}" class="btn btn-success"> Create </a>
                    </div>
                </div>
                <div class="col-md-12 content-body">
                    {{note.content |safe }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3">
            
            <h1> graph </h1>
            
        </div>
 
</div>

{% endblock item %}


