{% extends "_home.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  <title>Creative Blog : Notes</title>
{% endblock title %}

{% block static %}
  <link rel="stylesheet" href="{% static 'css/notes/notes_styles.css' %}"/>
{% endblock static %}

{% block nav-brand %}
  <div class="sidebar-heading border-bottom">Notes</div>
{% endblock nav-brand %}

{% block sidebar %}

{% endblock sidebar %}

{% block nav-item %}
    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Main</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'date_list' %}">Todos</a></li>
    <li class="nav-item active"><a class="nav-link" href="{% url 'topic_list' %}">Notes</a></li>
{% endblock nav-item %}

{% block item %}

<div class="row">
    <div class="col-md-9">
        <div class="col-md-12 content">
            <div class="d-flex justify-content-between content-header">
                <h1>Topic List</h1>
                <div class="nav flex-column content-header-action">
                  <a href="{% url 'create_topic' %}" class="btn btn-success">Create new topic</a>
                  {% if user.is_superuser %}
                    <a href="{% url 'clean_file' %}" class="btn btn-success">Clean files</a>
                  {% endif %}
                </div>
            </div>
            <div class="content-body">
            {% if topic_list %}
                <div class="list-group">     
                    {% for topic in topic_list %}
                        <div class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h2 class="mb-1 content-body-title "><a href="{% url 'topic_detail' topic.pk %}">{{topic.topic}}</a></h2>
                                <div class="nav flex-column content-body-action">
                                    <a href="{% url 'delete_topic' topic.pk %}" class="btn btn-success">Delete </a>
                                    <a href="{% url 'update_topic' topic.pk %}"  class="btn btn-success">Update </a>
                                </div>
                            </div> 
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
        </div>
    </div>

  <div class="col-md-3">        
    <h1> graph </h1>
  </div>
</div>

{% endblock item %}


