{% extends "2_notes/topic_list.html" %}
{% load crispy_forms_tags %}

{% block item %}
<div class="row">
    <div class="col-md-9">
        <div class="col-md-12 content">
            <div class="d-flex justify-content-between content-header">
              <h1>Delete {{topic.topic}}</h1>
            </div>
            <div class="content-body">
              <form action="{% url 'delete_topic' topic.pk %}" method="POST">
                  {% csrf_token %}
                  <strong>Are you sure you want to delete it?</strong>
                  <p>To delete it, type the topic title in the blank.</p>
                  {% if message %}
                      {{ message }}
                  {% endif %}
                  <input class="form-control" type="text" name="title">
                  <br>
                  <button class="btn btn-warning button">Delete</button>
              </form>
            </div>
        </div>

      </div>

      <div class="col-md-3">

        <h1> graph </h1>

      </div>
</div>

{% endblock item %}


