{% extends "2_notes/topic_list.html" %}
{% load crispy_forms_tags %}

{% block item %}

<div class="row">
  <div class="col-md-9">
      <div class="col-md-12 content">
        <div class="d-flex justify-content-between content-header">
          <h1>Update {{topic.topic}}</h1>
        </div>
        <div class="content-body">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success button">Update</button>
            </form>
        </div>
      </div>
  </div>

  <div class="col-md-3">
    <h1> graph </h1>
  </div>
</div>

{% endblock item %}


