body{
    background: rgb(241, 239, 239);
    font-family: Georgia;
}

.row {
    padding-top: 12px;
    padding-bottom: 12px;
}

.content {
    border-radius: 2px;
    background-color: white;
    padding-top: 12px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.content .content-header{
    padding-bottom: 10px;
    border-bottom: 1px solid orange;
}

.content .content-header .content-header-action a {
    text-decoration: none;
}

.content-body {
    padding-top: 20px;
}

.content-body .list-group .list-group-item {
    background-color: white;
    height: 60px;
}

/* Weather Styles */
.graph {
    padding-bottom: 20px;
}

.icon {
    float:right;
}

.graph {
    background-color: white;
    padding-top: 10px;
}

.card-body {
    border: 2px solid #b0b3b6;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0;
}

.button {
    float: right;
}