{% extends "1_todos/date_list.html" %}

{% block item %}

<div class="row">
    <div class="col-md-9">
        <div class="col-md-12 content">
            <div class="d-flex justify-content-between content-header">
              <h1>Delete {{date.date|date:"M d"}}, {{date.date|date:'l'}} Schedule</h1>
            </div>
      
            <div class="content-body">
            
              <form method="POST">
                  {% csrf_token %}
                  
                  <button class="btn btn-warning button">Delete</button>
              </form>

            </div>

        </div>
    </div>
    <div class="col-md-3">        
        <h1> graph </h1>
    </div>
</div>

{% endblock item %}



