{% extends "1_todos/date_list.html" %}
{% load crispy_forms_tags %}

{% block item %}
<div class="row">
    <div class="col-md-9">
        <div class="col-md-12 content">
            <div class="d-flex justify-content-between content-header">
              <h1>Create New Todo</h1>
            </div>
            <div class="content-body">
                <form method="POST" action="{% url 'create_todo' date.pk %}">
                    {% csrf_token %}
                    
                    <input type="time" name="start_time" placeholder="Start Time" value="12:00" required>
                    <input type="time" name="end_time" placeholder="End Time" value="12:00" required>
                    {{form|crispy}}    
                    
                    <button type="submit" class="btn btn-success button">Create</button>                
                </form>

            </div>

        </div>
    </div>
    <div class="col-md-3">        
        <h1> graph </h1>
    </div>
</div>
{% endblock item %}
